body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn_publish{
    float: right;
    margin-bottom: 15px;
}
.list_user_log{
    width: 45px;
    height: 45px;
}
.text_abridge{
    width: 200px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jumbotron{
    margin: 50px;
}
.media-heading{
    padding: 10px;
}
.comment{
    margin: 10px 0px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.menu{
    margin-top: 10px;

}
.commentDTOS{
    border-bottom: 1px  #eee inset;
    margin-bottom: 10px;
}
.menu .icon{
    margin-right: 10px;
}
.menu .icon:hover{
    color: #499ef3;
}